@font-face {
  font-family: "SF Pro";
  src: url("assets/font/SFPRODISPLAYREGULAR.OTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("assets/font/SFPRODISPLAYMEDIUM.OTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body{
  font-family: "SF Pro"!important;
}
